moesifasgi
uvicorn
passlib>=1.7.4
fastapi>=0.108.0
jose>=1.0.0
python-jose>=3.3.0
rsa>=4.8
ecdsa>=0.17.0
pyasn1>=0.4.8
cryptography>=37.0.2
cffi>=1.15.0
six>=1.16.0
pycparser>=2.21
bcrypt
python-multipart
importlib-metadata
